<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="/javascripts/react.min.js"></script>
    <script src="/javascripts/react-dom.min.js"></script>
    <script src="/javascripts/babel.min.js"></script>
    <script src="/javascripts/react-router-dom.min.js"></script>
</head>
<body>
    <div id="play">

    </div>
</body>
    <script type="text/babel">

        ReactDOM.render(
                <h1>我是最棒的</h1>,
            document.getElementById("play")
        )

    </script>
</html>