<!DOCTYPE html>
<html>
<head>
    <title>云点商城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"/>
</head>
<link href="/plugings/bootstrap-3.3.4-dist/css/bootstrap.css"></link>
<link href="/plugings/bootstrap/4.0.0/css/bootstrap.min.css"></link>
<link href="/plugings/detail-ui/css/bootstrap/bootstrap.css" rel="stylesheet" />

<!-- detail-ui dependcise-->
<link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
<link href="/plugings/detail-ui/css/compiled/skins/dark.css" rel="stylesheet" type="text/css"/>
<link href="/plugings/detail-ui/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />
<link href="/plugings/layer/3.0.3/skin/default/layer.css" rel="stylesheet" type="text/css"/>
<link href="/plugings/layer/3.0.3/nav/layui.css" rel="stylesheet" type="text/css"/>
<script src="/javascripts/jquery-1.11.3.min.js"></script>
<script src="/plugings/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="/javascripts/react.min.js"></script>
<script src="/javascripts/react-dom.min.js"></script>
<script src="/javascripts/babel.min.js"></script>
<script src="/javascripts/react-router-dom.min.js"></script>
<script src="/plugings/layer/3.0.3/layer.js"></script>