<%- include hearders %>
<link href="/stylesheets/iconfont.css"  rel="stylesheet" type="text/css"/>
<link href="/stylesheets/shop.css" type="text/css" rel="stylesheet" />
<link href="/stylesheets/goodsDetail.css" type="text/css" rel="stylesheet" />

<body>
<div id="buyCarInRight"></div>
<div class="navbar navbar-inverse" id="shopGoodsDetailTopNav"></div>
<div class="navbar navbar-inverse" id="SGDsidebarNav" style="z-index:1"></div>
<div id="goodsDetailBody"></div>



</body>

<script src="/javascripts/components/buyCar.js" type="text/babel"></script>
<script src="/javascripts/components/sidebarNav.js" type="text/babel"></script>
<script src="/javascripts/components/top-nav.js" type="text/babel"></script>
<script src="/javascripts/shop/shop_goods__detail.js" type="text/babel"></script>

</html>