<%- include hearders %>


<link href="/stylesheets/iconfont.css"  rel="stylesheet" type="text/css"/>
<link href="/stylesheets/shop.css" type="text/css" rel="stylesheet" />

<body>
<div id="buyCarInRight"></div>
<div class="navbar navbar-inverse" role="banner" id="head"></div>
<div class="navbar navbar-inverse" id="SGDsidebarNav" style="z-index:1"></div>

<div id='round'></div>
<div class="beijin">
    <div id='commodity'></div>
</div>

</body>


<script src="/plugings/unslider/2.0.3/js/unslider-min.js"></script>
<script src="/javascripts/components/sidebarNav.js" type="text/babel"></script>
<script src="/javascripts/components/roundSowing.js" type="text/babel"></script>
<script src="/javascripts/components/commodity.js" type="text/babel"></script>
<script src="/javascripts/components/buyCar.js" type="text/babel"></script>
<script src="/javascripts/shop/topNav.js" type="text/babel"></script>
<script src="/javascripts/shop/shop_home.js" type="text/babel"></script>
</html>